html,
body,
.app {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  color: white;
  margin: 0;
}

.app {
  position: relative;
  perspective: 800px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  overflow: hidden;
}

.app * {
  transform-style: preserve-3d;
}

/* Rotate */
.rotate-container {
  cursor: -webkit-grab;
  width: 100%;
  height: 100%;
}

.rotate-container:active {
  cursor: -webkit-grabbing;
}

.rotate {
  width: 100%;
  height: 100%;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.controls > div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 2px;
  font: 12px arial, sans-serif;
  user-select: none;
}

.controls label {
  display: inline-block;
  margin-right: 10px;
}

.controls label:last-child {
  margin-right: 0;
}

.github-link {
  text-align: right;
}
.github-link a {
  text-decoration: none;
  color: white;
}
