* {
  transform-style: preserve-3d;
}

html,
body,
.perspective,
.camera,
.rotate {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  margin: 0;
  overflow: hidden;
}

.perspective {
  perspective: 800px;
  overflow: hidden;
}

.camera {
  transform: translateZ(800px);
}

.dragging-area {
  cursor: -webkit-grab;
}

.dragging-area:active {
  cursor: -webkit-grabbing;
}
