html,
body,
.app {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  margin: 0;
}

.app {
  position: relative;
  perspective: 800px;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  overflow: hidden;
}

.app * {
  transform-style: preserve-3d;
}

/* Rotate */
.rotate-container {
  cursor: -webkit-grab;
  width: 100%;
  height: 100%;
}

.rotate-container:active {
  cursor: -webkit-grabbing;
}

.rotate {
  width: 100%;
  height: 100%;
}
